# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CVCPlatform.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\spamn\Documents\Programming\C#\CVCPlatform\.idea\.idea.CVCPlatform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
